**1. What are escape characters, and how do you use them?**

**Answer:**


An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

txt = "We are the so-called \"Vikings\" from the north."

**2. What do the escape characters n and t stand for?**

**Answer:** 

we can use \n escape character for printing new line....and  \t for tab.

**3. What is the way to include backslash characters in a string?**

**Answer :** 

When we need to add \ in string we can simply use two backslash ("\\\\") for printing backslash \.

**4. The string "Howl's Moving Castle" is a correct value. Why isn't the single quote character in the word Howl's not escaped a problem?**

In [2]:
print("Howl's Moving Castle")

Howl's Moving Castle

**Answer :**  The single quote in Howl's is fine because you've used double quotes to mark the beginning and end of the string. like wise we can use double quotes in with single quotes

**5. How do you write a string of newlines if you don't want to use the n character?**

In [7]:
print("printing something in new line",end = '\n')
print("newline")

printing something in new line
newline

**6. What are the values of the given expressions?**

**Answer :**

In [10]:
'Hello, world!'[1]

'e'

In [11]:
'Hello, world!'[0:5]

'Hello'

In [12]:
'Hello, world!'[:5]

'Hello'

In [15]:
'Hello, world!'[3:]

'lo, world!'

**7. What are the values of the following expressions?**

**Answer :**

In [19]:
'Hello'.upper()

'HELLO'

In [20]:
'Hello'.upper().isupper()

True

In [21]:
'Hello'.upper().lower()

'hello'

**8. What are the values of the following expressions?**

**Answer :**

In [29]:
'Remember, remember, the fifth of July.'.split()

['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']

In [30]:
'-'.join('There can only one.'.split())

'There-can-only-one.'

**9. What are the methods for right-justifying, left-justifying, and centering a string?**

**Answer :**

In [37]:
#left justified
str ="Vinay"
str.ljust(10)

'Vinay     '

In [39]:
#center justified

str ="Vinay"
str.center(20)

'       Vinay        '

In [38]:
#right justified

str ="Vinay"
str.rjust(20)

'               Vinay'

**10. What is the best way to remove whitespace characters from the start or end?**

**Answer :**

In [46]:
str = "     Hello Vinay! How are you?    "

In [47]:
str.lstrip()

'Hello Vinay! How are you?    '

In [48]:
str.rstrip()

'     Hello Vinay! How are you?'

In [49]:
str.strip()

'Hello Vinay! How are you?'

**END**